# File: example/pubspec.yaml
# File Version: 1.0.0
# Copyright (c) 2026 The Khatu Family Trust

name: app_scaffolding_example
description: Example app for app_scaffolding
publish_to: 'none'
version: 0.1.1+1

environment:
  sdk: ^3.10.8

dependencies:
  flutter:
    sdk: flutter
  app_scaffolding:
    path: ../

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
